<div class="post-content">
  <!-- <div class="ui grid">
    <div class="four wide column">
    </div> -->

<!--     <div class="eight wide column"> -->
      <div class="ui segment">
      <div class="postleft">
       <a class="avatar" 
         href="/posts?author=<%= post.author._id %>"
         data-title="<%= post.author.name %> | <%= ({m: '男', f: '女', x: '保密'})[post.author.gender] %>">
        <img class="avatar" src="/img/<%= post.author.avatar %>">
        </a>
        </div>
        <div class="postright">
        <h3><a href="/posts/<%= post._id %>"><%= post.title %></a></h3>
        <pre><%- post.content %></pre>
        <div>
          <span class="tag"><%= post.created_at %></span>
          <span class="tag right">
            <span>浏览(<%= post.pv %>)</span>
            <span>留言(<%= post.commentsCount %>)</span>
            
            <% if (user && post.author._id && user._id.toString() === post.author._id.toString()) { %>
            <span><a href="/posts/<%= post._id %>/edit">编辑</a></span>
            <span><a href="/posts/<%= post._id %>/remove">删除</a></span>
            <% } %>
          </span>
        </div>
      </div>
      </div>
    </div>
<!--   </div>
</div> -->